<body class="g-sidenav-show bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <aside
        class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
        id="sidenav-main">
        <app-sidebar></app-sidebar>
    </aside>
    <main class="main-content position-relative border-radius-lg ">
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h1>Change Password</h1>
                        </div>
                        <div class="container">
                            <form [formGroup]="gantiPasswordForm" (ngSubmit)="gantiPassword()">

                                <input type="hidden" class="form-control" name="id" formControlName="id">

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Password Lama</label>
                                    <input type="password" class="form-control" name="oldPassword" formControlName="oldPassword">
                                </div>
                                <div *ngIf="gantiPasswordForm.controls['oldPassword'].invalid && gantiPasswordForm.controls['oldPassword'].touched" class="alert alert-danger">
                                    <div *ngIf="gantiPasswordForm.controls['oldPassword'].errors?.required">
                                  Old Password is required.
                                   </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Password Baru</label>
                                    <input type="password" class="form-control" name="newPassword" formControlName="newPassword">
                                </div>
                                <div *ngIf="gantiPasswordForm.controls['newPassword'].invalid && gantiPasswordForm.controls['newPassword'].touched" class="alert alert-danger">
                                    <div *ngIf="gantiPasswordForm.controls['newPassword'].errors?.required">
                                  New Password is required.
                                   </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Ulangi Password Baru</label>
                                    <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword">
                                </div>
                                <div *ngIf="gantiPasswordForm.controls['confirmPassword'].invalid && gantiPasswordForm.controls['confirmPassword'].touched" class="alert alert-danger">
                                    <div *ngIf="gantiPasswordForm.controls['confirmPassword'].errors?.required">
                                  Matching Password is required.
                                   </div>
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm w-100">Ganti
                                        Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>