<body class="g-sidenav-show bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4"
    id="sidenav-main"
  >
    <app-sidebar></app-sidebar>
  </aside>
  <main class="main-content position-relative border-radius-lg">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h1 class="mb-0">Detail Lot Lelang {{ lelang.name }}</h1>
                </div>
                <div class="col-6 text-end">
                  <button
                    class="btn btn-outline-warning btn-sm m-1"
                    routerLink="/lot-lelang/edit/{{ lelang.id }}"
                  >
                    Edit
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm m-1"
                    (click)="deleteLelang()"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>

            <div class="card-body p-3 pb-0">
              <div class="row">
                <div class="col">
                  <ul class="list-group">
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="mb-1 text-dark font-weight-bold text-sm">
                          Kode Lot Lelang
                        </h6>
                        <span class="text-xs">{{ lelang.lotCode }}</span>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="mb-1 text-dark font-weight-bold text-sm">
                          Nama
                        </h6>
                        <span class="text-xs">{{ lelang.name }}</span>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Nilai Limit:
                        </h6>
                        <span class="text-xs">{{ lelang.initialPrice }}</span>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Cara Penawaran:
                        </h6>
                        <span class="text-xs">{{ lelang.bidMethod }}</span>
                      </div>
                    </li>

                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Jaminan:
                        </h6>
                        <span class="text-xs">{{
                          lelang.collateralQuantity
                        }}</span>
                      </div>
                    </li>

                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Batas Akhir Jaminan:
                        </h6>
                        <span class="text-xs">{{ colaexp }}</span>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Waktu Mulai Lelang:
                        </h6>
                        <span class="text-xs">{{ bidstart }}</span>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Waktu Selesai Lelang:
                        </h6>
                        <span class="text-xs">{{ bidexp }}</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="list-group">
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Uraian:
                        </h6>
                        <span class="text-xs" style="white-space: pre-line">{{
                          lelang.description
                        }}</span>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Penjual:
                        </h6>
                        <span class="text-xs">{{ lelang.seller?.name }}</span>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Penyelenggara:
                        </h6>
                        <span class="text-xs">{{
                          lelang.organizer?.name
                        }}</span>
                      </div>
                    </li>
                    <li
                      class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
                    >
                      <div class="d-flex flex-column">
                        <h6 class="text-dark mb-1 font-weight-bold text-sm">
                          Lampiran:
                        </h6>
                        <span class="text-xs">
                          <a
                            class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"
                            [href]="displayattachment"
                            target="_blank"
                          >
                            <mat-icon>picture_as_pdf</mat-icon> Lampiran.pdf
                          </a></span
                        >
                      </div>
                    </li>
                    <div>
                      <img
                        *ngFor="let url of images"
                        [src]="url"
                        height="150"
                        width="200px"
                        style="margin: 3px"
                      />
                      <br />
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
