<body class="g-sidenav-show bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <aside
        class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
        id="sidenav-main">
        <app-sidebar></app-sidebar>
    </aside>
    <main class="main-content position-relative border-radius-lg ">
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h1>Tambah Akun Penjual</h1>
                        </div>
                        <div class="container">
                            <form [formGroup]="createSellerAccountForm" (ngSubmit)="createOperator()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Nama Depan</label>
                                            <input type="text" class="form-control" autocomplete="off"
                                                formControlName="firstName">
                                        </div>
                                        <div *ngIf="createSellerAccountForm.controls['firstName'].invalid && createSellerAccountForm.controls['firstName'].touched" class="alert alert-danger">
                                            <div *ngIf="createSellerAccountForm.controls['firstName'].errors?.required">
                                                Seller First name is required.
                                           </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Nama Belakang</label>
                                            <input type="text" class="form-control" autocomplete="off"
                                                formControlName="lastName">
                                        </div>
                                        <div *ngIf="createSellerAccountForm.controls['lastName'].invalid && createSellerAccountForm.controls['lastName'].touched" class="alert alert-danger">
                                            <div *ngIf="createSellerAccountForm.controls['lastName'].errors?.required">
                                                Seller Last name is required.
                                           </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Email</label>
                                            <input type="email" class="form-control" autocomplete="off"
                                                formControlName="email">
                                        </div>
                                        <div *ngIf="createSellerAccountForm.controls['email'].invalid && createSellerAccountForm.controls['email'].touched" class="alert alert-danger">
                                            <div *ngIf="createSellerAccountForm.controls['email'].errors?.required">
                                                Seller E-mail is required.
                                           </div>
                                           <div *ngIf="createSellerAccountForm.controls['email'].errors?.['pattern']">
                                            Seller E-mail must be valid.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Username</label>
                                            <input type="text" class="form-control" autocomplete="off"
                                                formControlName="username">
                                        </div>
                                        <div *ngIf="createSellerAccountForm.controls['username'].invalid && createSellerAccountForm.controls['username'].touched" class="alert alert-danger">
                                            <div *ngIf="createSellerAccountForm.controls['username'].errors?.required">
                                                Seller Username is required.
                                           </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">No HP</label>
                                            <input type="text" class="form-control" autocomplete="off"
                                                formControlName="phoneNum">
                                        </div>
                                        <div *ngIf="createSellerAccountForm.controls['phoneNum'].invalid && createSellerAccountForm.controls['phoneNum'].touched" class="alert alert-danger">
                                            <div *ngIf="createSellerAccountForm.controls['phoneNum'].errors?.required">
                                                Seller Phone Number is required.
                                           </div>
                                           <div *ngIf="createSellerAccountForm.controls['phoneNum'].errors?.['pattern'] || createSellerAccountForm.controls['phoneNum'].errors?.['minlength'] || createSellerAccountForm.controls['phoneNum'].errors?.['maxlength']">
                                            Seller Phone Number must be valid Phone number value.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Tanggal Lahir</label>
                                            <input type="date" class="form-control" autocomplete="off"
                                                formControlName="dateOb">
                                        </div>
                                        <div *ngIf="createSellerAccountForm.controls['dateOb'].invalid && createSellerAccountForm.controls['dateOb'].touched" class="alert alert-danger">
                                            <div *ngIf="createSellerAccountForm.controls['dateOb'].errors?.required">
                                                Seller Date of Birth is required.
                                           </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Password</label>
                                            <input type="password" class="form-control" formControlName="password">
                                        </div>
                                        <div *ngIf="createSellerAccountForm.controls['password'].invalid && createSellerAccountForm.controls['password'].touched" class="alert alert-danger">
                                            <div *ngIf="createSellerAccountForm.controls['password'].errors?.required">
                                                Seller Password is required.
                                           </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Ulangi Password</label>
                                            <input type="password" class="form-control" formControlName="scdPassword">
                                        </div>
                                        <div *ngIf="createSellerAccountForm.controls['scdPassword'].invalid && createSellerAccountForm.controls['scdPassword'].touched" class="alert alert-danger">
                                            <div *ngIf="createSellerAccountForm.controls['scdPassword'].errors?.required">
                                                Seller Matching Password is required.
                                           </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-sm w-100">Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>