<div class="sidenav-header">
  <i
    class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
    aria-hidden="true"
    id="iconSidenav"
  ></i>
  <a
    class="navbar-brand m-0"
    href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html "
    target="_blank"
  >
    <!-- <img src="./assets/img/illustrations/rocket-white.png" class="navbar-brand-img h-100" alt="main_logo"> -->
    <span class="ms-1 font-weight-bold">DASHBOARD</span>
    <br />
    <span class="ms-1 font-weight-bold"
      >Halo, {{ currentUser?.firstName }} ({{ currentUser?.role }})
    </span>
  </a>
</div>
<hr class="horizontal dark mt-0" />
<div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
  <ul class="navbar-nav">
    <!-- sidebar for admin -->
    <div *ngIf="currentUser?.role == 'admin'">
      <li class="nav-item">
        <a class="nav-link" routerLink="/lot-lelang">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i
              class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"
            ></i>
          </div>
          <span class="nav-link-text ms-1">Lot Lelang</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/faq">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">FAQ</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/penjual">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-briefcase-24 text-info text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Penjual</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/cabang-penjual">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-building text-success text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Cabang Penjual</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/penyelenggara">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-delivery-fast text-warning text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Penyelenggara</span>
        </a>
      </li>

      <!-- <li class="nav-item">
                <a class="nav-link " routerLink="/akun-penjual">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-shop text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Akun Penjual</span>
                </a>
            </li> -->

      <li class="nav-item">
        <a class="nav-link" routerLink="/akun-operator">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Akun Operator</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/ganti-password">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-key-25 text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Ganti Password</span>
        </a>
      </li>
    </div>

    <!-- sidebar for operator role -->
    <div *ngIf="currentUser?.role == 'operator'">
      <li class="nav-item">
        <a class="nav-link" routerLink="/validasi-berkas">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-check-bold text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Validasi Berkas</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/ganti-password">
          <div
            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center"
          >
            <i class="ni ni-key-25 text-dark text-sm opacity-10"></i>
          </div>
          <span class="nav-link-text ms-1">Ganti Password</span>
        </a>
      </li>
    </div>

    <!-- <div *ngIf="currentUser?.role == 'seller'">
            <li class="nav-item">
                <a class="nav-link " routerLink="/lot-lelang">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Lot Lelang</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link " routerLink="/ganti-password">
                    <div
                        class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-key-25 text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Ganti Password</span>
                </a>
            </li>
        </div> -->
  </ul>
</div>
<div class="sidenav-footer mx-3">
  <div class="card card-plain shadow-none" id="sidenavCard">
    <img
      class="w-50 mx-auto"
      src="./assets/img/illustrations/rocket-white.png"
      alt="sidebar_illustration"
    />
    <div class="card-body text-center p-3 w-100 pt-0">
      <div class="docs-info">
        <h5 class="mb-0">audiBCA</h5>
        <p class="text-xs font-weight-bold mb-0">Auction Digital - BCA</p>
      </div>
    </div>
  </div>
  <a (click)="logout()" class="btn btn-danger btn-sm w-100 mb-3">Logout</a>
  <!-- <a class="btn btn-primary btn-sm mb-0 w-100"
        href="https://www.creative-tim.com/product/argon-dashboard-pro?ref=sidebarfree" type="button">Upgrade to
        pro</a> -->
</div>
